<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html manifest="manifest.appcache" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Персональная система мониторинга транспорта</title>
        <meta name="author" content="BaDen"/>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width" initial-scale="1.0"/>
        <link id="themecss" rel="stylesheet" href="styles/bootstrap.css">
        <!--link id="themecss" rel="stylesheet" href="styles/themes/cyborg/bootstrap.css"/-->
        <link rel="stylesheet" href="styles/main.css"/>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>

    </head>
    <body ng-app="wwwGPSApp">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!--[if lte IE 8]>
            <script>
            // The ieshiv takes care of our ui.directives, bootstrap module directives and
            // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
            // However, IF you have custom directives (yours or someone else's) then
            // enumerate the list of tags in window.myCustomTags

            window.myCustomTags = [ 'yourDirective', 'somebodyElsesDirective' ]; // optional
            </script>
            <script src="build/angular-ui-ieshiv.js"></script>
        <![endif]-->

        <!--[if lt IE 9]>
            <script src="scripts/vendor/61e2728c.es5-shim.min.js"></script>
            <script src="scripts/vendor/241d7c33.json3.min.js"></script>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div ng-controller="appCtrl">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">

<i id="change_theme" class="icon-off"></i>
                        <a href="#/" class="brand">GPS</a>
                        <ul class="nav">
                            <li ng-class="{active: location.path().match('^/map')}">
                                <a href="#/map">Карта</a>
                            </li>
                            <li ng-class="{active: location.path().match('^/logs')}">
                                <a href="#/logs">События</a>
                            </li>
                            <li ng-class="{active: location.path().match('^/report')}">
                                <a href="#/report">Отчеты</a>
                            </li>
                            <li ng-class="{active: location.path().match('^/gps')}">
                                <a href="#/gps">GPS</a>
                            </li>
                            <li ng-class="{active: location.path().match('^/config')}">
                                <a href="#/config">Настройки</a>
                            </li>
                            <li ng-class="{active: location.path().match('^/help')}">
                                <a href="#/help">Помощь</a>
                            </li>
                            <li>Location: {{ location.path() }}</li>
                        </ul>
                        <ul class="nav pull-right">
                            <li>
                                <a href="/auth/login?next={{ location.absURL() }}">
                                    <i class="icon-arrow-right"></i>Пользователь
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="tabpagecontent">
                <div class="tabnoscroll" ng-class="{hidden: !location.path().match('^/map')}">
                    <div gmap="main"></div>
                </div>
                <div class="tabscroll" ng-class="{hidden: !location.path().match('^/logs')}">
                    <!--div gmap="main"></div-->
                    Тут будут события

                    <div ng-click="doAdd();" class="btn">+</div>
                    <div style="border: 1px solid blue; width: 200px; height: 200px;"></div>
                    List
                    <ul>
                        <li ng-repeat="l in list">{{ l }}</li>
                    </ul>
                    <mylist></mylist>
                    <mylist2></mylist2>
                </div>
                <div class="tabscroll" ng-class="{hidden: !location.path().match('^/report')}">
                    Тут будут отчеты
                    <div ng-controller="appCtrl2"><mylist /></div>
                </div>
                <div class="tabscroll" ng-class="{hidden: !location.path().match('^/gps')}">
                    Тут будут подробные данные по GPS
                </div>
                <div class="tabscroll" ng-class="{hidden: !location.path().match('^/config')}">
                    Тут будут управление и настройки систем
                </div>
                <div class="tabscroll" ng-class="{hidden: !location.path().match('^/help')}">
                    Тут будут инструкции
                </div>
            </div>

        </div>
    <!--div id="loading_div" style="/*visibility: hidden;*/ position: absolute; left:0px; top:0px; right:0px; bottom:0px; background-color: grey; /*opacity:0.9*/; font-family: Verdana; font-size: 60px; color: #CCC; display: table-cell; vertical-align: middle; z-index: 2001; text-align: center; line-height: 1em;">
        Загрузка...
        <p style="font-size: 22px;">Если длительное время ничего не происходит, попробуйете перезагрузить страницу (F5).</p>
    </div-->

	<script>
	(function(window){
	var themes = ["styles/bootstrap.css", "styles/bootstrap-cyborg.css"];
	var theme = 0;
	var document = window.document;
	document.getElementById('change_theme').onclick = function() {
	    theme = (theme + 1) % (themes.length);
	    console.log('click', theme, themes );
	    document.getElementById('themecss').href = themes[theme];
	};
	})(this);
	</script>
        <!--script src="scripts/init_start.js"></script-->

        <script src="scripts/vendor/5f519b60.angular.js"></script>
        <script src="scripts/vendor/0766aa9b.angular-resource.js"></script>
        <script src="scripts/vendor/12627d12.sockjs-0.3.min.js"></script>
        <!--script src="scripts/connect.js"></script-->

        <script src="scripts/649c0d7a.scripts.js"></script>

        <!--script src="scripts/init_finish.js"></script-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script-->
    </body>
</html>
