<div id="top" class="report">
    <div class="container">
    Отчеты
        <tabs>
            <pane title="Карта">
                Date: {{ '2012-04-01' | date:'fullDate' }} <br>
                <div class="btn-group">
                    <button class="btn">1</button>
                    <button class="btn">2</button>
                    <button class="btn">4</button>
                </div>

            </pane>
            <pane title="Отчеты">
        <a href="#">[1]</a><a href="#todo">[2]</a>
                Тест
        <h1>Hello, {{yourName}}!</h1>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <p>Hello world! This is HTML5 Boilerplate.</p>
                <!--div ng-controller="todoApp.controller.TodoCtrl">todo</div-->
            </pane>
        </tabs>
</div>
</div>
